<div class="card">
  <%= render 'form', task: @task %>
  <div class="card-footer">
    <%= link_to 'Visualizar', @task, class: "btn btn-info" %>
    <%= link_to 'Voltar', tasks_path, class: "btn btn-secondary" %>
  </div>
</div>
